{% extends 'base.html' %}
{% block content %}
{% for todo in todos %}
  {% now "Y-m-d" as todays_date %}
  {% if todays_date >= todo.expiration_date|date:"Y-m-d" and todo.status != 'Expired' %}
    <script>
      window.location.href = "change-status/{{todo.id}}/Expired";
    </script>
  {% endif %}
{% endfor %}
  <div class="mx-5 pt-4">
      <div class="row p-0 mt-4" >

        <div class="col-lg-3">
          <div class="border shadow mb-3" style="width: 100%;">
            <div class="alert alert-info text-center mb-0">
              <div class="" style="font-size: 30px;">Teams</div>
            </div>
            {% if team == None %}
              <div class="p-3"  style="text-align: center; font-size: 20px;">No teams</div>
            {% endif %}
            {% for tm in teams %}
            <div style="display: flex; justify-content: space-between;" class="p-2">
              {% if tm.id == team_id %}
              <div>
                <a class="nav-link" style="font-weight: bold;" href="/home/{{tm.id}}">{{tm.title}}</a>
              </div>
              {% else %}
              <div>
                <a class="nav-link" href="/home/{{tm.id}}">{{tm.title}}</a>
              </div>
              {% endif %}
              {% if tm.owner.id != user.id %}
                <a class="btn btn-danger" href="/leave_team/{{tm.id}}"  onclick="return confirm('Are you sure?');" title="Mark complete">Leave</a>
              {% endif %}
            </div>

            {% endfor %}
          </div>

          {% if team %}
            <div class="mx-auto shadow p-0">
              <div class="alert alert-info">
                  <h2>Add new task</h2>
              </div>
              <div class="p-4">
                <form action="/add-todo/{{team_id}}" method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <hr>
                  <input type="submit" value="Add" class="btn btn-info">
                </form>
              </div>
            </div>
          {% endif %}
        </div>

        <div class="col">
          <div class="border">

            {% if todos|length == 0%}
              <div class="p-2">
                <br>
                <br>
                <div class="alert alert-info text-center">
                  <div class="" style="font-size: 30px;">No tasks</div>
                </div>
                <br>
                <br>
              </div>

            {% else %}
            <div>
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>User</th>
                    <th>Creation date</th>
                    <th>Expiration date</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                    {% for todo in todos %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{todo.title}}</td>
                      <td>{{todo.status}}</td>
                      <td>{{todo.priority}}</td>
                      <td>{{todo.user}}</td>
                      <td>{{todo.creation_date}}</td>
                      <td>{{todo.expiration_date}}</td>
                      <td>
                        <a href="delete-todo/{{todo.id}}" title="Delete">🗑️</a>
                        <a href="todo/{{todo.id}}/comments" title="Comments">🗨</a>
                        {% if todo.status == 'In progress' %}
                          <a href="change-status/{{todo.id}}/Done" title="Mark complete">✅</a>
                        {% elif todo.status == 'To do' %}
                          <a href="change-status/{{todo.id}}/In progress" title="Mark in progress">🕒</a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>

              </table>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-3">
          <div class="border shadow" style="width: 100%;">
            <div class="alert alert-info text-center mb-0">
              <div class="mb-2" style="font-size: 30px;">Conversation</div>
            </div>
            <div style="overflow: auto; height: 500px;">

              {% for message in messages %}
                {% if message.author.id == user.id %}
                  <div class="p-2" style="display: flex; align-items: flex-end; justify-content: flex-end; margin-left: 30px;">
                    <div class="p-2" style="border: #bee5eb black solid; border-radius: 5px; background-color: #d1ecf1;">{{message.content}}</div>
                  </div>
                {% else %}
                  <div class="p-2" style="display: flex; align-items: flex-end;">
                    <div style="padding: 5px; background-color: #0c5360; color: white; border-radius: 5px; margin-right: 12px;">
                      {{message.author}}
                    </div>
                    <div class="p-2" style="border: 1px solid #dee2e6; border-radius: 5px;">{{message.content}}</div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>

            {% if team %}
              <div class="p-2" style="width: 100%; border-top: 1px solid gray;">
                <form action="/add-message/{{team.id}}" method="POST" style="display: flex; align-items: center;">
                  {% csrf_token %}
                  <textarea class="mx-2" style="min-width: 300px;" name="content" id="id_content"></textarea>
                  <input type="submit" value="Send" class="btn btn-info">
                </form>
              </div>
            {% endif %}
          </div>
        </div>
        {% if todos|length > 0 %}
        <div class="container pt-4"> 
          <div id="chartContainer" style="height: 200px; width: 100%"></div>
          <script>
            window.onload = function () {
              CanvasJS.addColorSet("custom", ["#FF0000", "#008000", "#FFA500", "#ADD8E6"]);
              var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                colorSet: "custom",
                theme: "light2",
                title: {
                  text: "Your statistics"
                },
                axisX: {
                  interval: 1
                },
                axisY: {
                  includeZero: true,
                  interval: 1
                },
                data: [{
                  type: "bar",
                  name: "tasks",
                  dataPoints: [
                      {label: "Expired", y: {{stats.Expired}} },
                      {label: "Done", y: {{stats.Done}} },
                      {label: "In progress", y: {{stats.In_progress}} },
                      {label: "To do", y: {{stats.To_do}} },
                  ]
                }]
              });
              chart.render();
            }
          </script>
          <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
        {% endif %}
      </div>
  </div>
{% endblock %}