{% extends 'base.html' %}
{% block content %}
{% for todo in todos %}
  {% now "Y-m-d" as todays_date %}
  {% if todays_date >= todo.expiration_date|date:"Y-m-d" and todo.status != 'Expired' %}
    <script>
      window.location.href = "change-status/{{todo.id}}/Expired";
    </script>
  {% endif %}
{% endfor %}
  <div class="container pt-4">
      <div class="row p-0 mt-4" >
        <div class="col-lg-4 mx-auto shadow p-0">
          <div class="alert alert-info">
               <h2>Add new task</h2>
          </div>
          <div class="p-4">
            <form action="/add-todo/" method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <hr>
              <input type="submit" value="Add" class="btn btn-info">
            </form>
          </div>
        </div>

        <div class="col">
          <div class="border">

            {% if todos|length == 0%}
              <div class="p-4">
                <br>
                <br>
                <div class="alert alert-info text-center">
                  <p class="" style="font-size: 30px;">No tasks</p>
                </div>
                <br>
                <br>
              </div>

            {% else %}
            <div>
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>User</th>
                    <th>Creation date</th>
                    <th>Expiration date</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                    {% for todo in todos %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{todo.title}}</td>
                      <td>{{todo.status}}</td>
                      <td>{{todo.priority}}</td>
                      <td>{{todo.user}}</td>
                      <td>{{todo.creation_date}}</td>
                      <td>{{todo.expiration_date}}</td>
                      <td>
                        <a href="delete-todo/{{todo.id}}" title="Delete">🗑️</a>
                        {% if todo.status == 'In progress' %}
                          <a href="change-status/{{todo.id}}/Done" title="Mark complete">✅</a>
                        {% elif todo.status == 'To do' %}
                          <a href="change-status/{{todo.id}}/In progress" title="Mark in progress">🕒</a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>

              </table>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}