{% extends 'base.html' %}
{% block content %}

<div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
    <div style="font-size: 32px;">Team Members</div> 
    <div style="display: flex; width: 100%; flex-direction: column; align-items: center;">


        <div style="width: 80%">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th style="width: 300px;">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for usr in users %}
                    <tr>
                        <td>{{usr.username}}</td>
                        {% if usr.username == team.owner.username %}
                            <td>Owner</td>
                            <td>
                              {% if user.id == team.owner.id %}
                                <button class="btn btn-danger" disabled>Remove</button>
                              {% endif %}
                              {% if usr.id != user.id %}
                                <a class="btn btn-success" href="/private_conversation/{{user.id}}/{{usr.id}}" title="Mark complete">Message</a>
                              {% endif %}
                            </td>
                        {% else %}
                            <td>Member</td>
                            <td>
                              {% if user.id == team.owner.id %}
                                <a class="btn btn-danger" href="{{team.id}}/remove/{{usr.id}}" title="Mark complete">Remove</a>
                              {% endif %}
                              {% if usr.id != user.id %}
                                <a class="btn btn-success" href="/private_conversation/{{user.id}}/{{usr.id}}" title="Mark complete">Message</a>
                              {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if user.id == team.owner.id %}
            <a class="btn btn-success" style="width: 300px;" href="{{team.id}}/add" title="Delete">Add Members</a>
          {% endif %}
    </div>
</div>

{% endblock %}