{% extends 'base.html' %}
{% block navbar %}
  <nav class="navbar todo-nav navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">TODO app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/">Main page</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Sign up</a>
                </li>
            {% endif %}

          </ul>
        </div>
  </nav>

{% endblock %}

{% block content %}

<div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
    <div style="font-size: 32px;">Your Teams</div> 
    <div style="display: flex; width: 100%;">

      <div class="col-lg-4 shadow p-0 m-2">
        <div class="alert alert-info todo-header">
             <h2>Add new Team</h2>
        </div>
        <div class="p-4">
          <form action="/add-team/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="Add" class="btn todo-button">
          </form>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; flex: 1" class="m-2">
        {% for team in teams %}
          <div style="width: 100%; height: 60px; background-color: #d1ecf1; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; display: flex; align-items: center;" class="todo-header mb-2 px-3">
            <div style="font-size: 24px; font-weight: bold;">{{team.title}}</div>
            <div style="margin-left: auto;">
              <a class="btn todo-button" href="team_users/{{team.id}}" title="Delete">Members</a>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}