{% extends 'base.html' %}
{% block content %}

<div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
    <div style="font-size: 32px;">Yours Teams</div> 
    <div style="display: flex; width: 100%;">

      <div class="col-lg-4 shadow p-0 m-2">
        <div class="alert alert-info">
             <h2>Add new Team</h2>
        </div>
        <div class="p-4">
          <form action="/add-team/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="Add" class="btn btn-info">
          </form>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; flex: 1" class="m-2">
        {% for team in teams %}
          <div style="width: 100%; height: 50px; background-color: #17a3b8; border-radius: 10px; box-shadow: 2px 2px 5px black; display: flex; align-items: center;" class="mb-2 px-3">
            <div style="color: white; font-size: 24px;">{{team.title}}</div>
            <!-- {% for user in team.users.all %}
              <div style="color: blue;">Test</div>
            {% endfor %} -->
          </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}