{% extends 'base.html' %}
{% block content %}

<div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
    <div style="font-size: 32px;">Add members to team</div> 
    <div style="display: flex; width: 100%; flex-direction: column; align-items: center;">
        {% for ur in users_list %}
                <div style="width: 700px; height: 60px; background-color: #d1ecf1; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; display: flex; align-items: center; font-weight: bold;" class="mb-2 px-3 todo-header">
                    <div style="font-size: 18px;">{{ur.username}}</div>
                    <div style="margin-left: auto;">
                    <a class="btn todo-button" href="add/{{ur.id}}" title="Mark complete">Add</a>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}